body {
    background-color:#5d5d5d;
    color : #a0c334;
    text-align: center;
    margin : auto;
}

h1 {
    /* margin-top: 0% */
}
/* a {
    margin-top: 30px;
    color: #e5d429;
    background-color: #f7f7f7;
    border : 1px solid #a0c334;
    border-radius: 25px;
    padding: 20px;
    
} */
